* {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: url("images/bg.png");

}

.menu {
    margin-right: 25px;
    padding-top: 25px;
}

.logo {
    margin-right: 20px;
    width: 25%;
    height: 70px;
}

.list {
    width: 73%;
    display: grid;
    place-items: center;
}

ul {
    margin-left: 150px;
    flex-direction: row;

    border-left: 2px solid white;
}

li:hover {
    background-color: grey;
}

li {
    margin-inline-start: 10px;
    display: inline-block;
    /* height: 70px; */

}

a {
    text-decoration: none;
    color: white;
    padding-left: 25px;
}

.logo {
    display: grid;
    place-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 70px;
}

#btn1 {
    background-color: magenta;
    border-radius: 5px;
    width: 90px;
    font-family: bold;
    padding: 5px;

}

.btn {
    display: grid;
    place-items: center;
    margin-right: 20px;
}

img {
    height: 40px;
}

.li {
    display: block;
}

.text {
    display: grid;
    place-items: center;
    padding-top: 200px;
}

.h {
    color: white;
    padding-bottom: 10px;

}

#btn2 {
    background-color: magenta;
    border-radius: 7px;
    padding: 5px 20px;

}